﻿@model FreeCommerce.Aplicacion.DTO.ProductoDTO


@{
//ViewBag.Title = "Free Commerce";
}

<!--<h2>View</h2>-->

<div class="row">

    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i>Nuevo producto</div>

            <div class="panel-body">

                @using (Html.BeginForm("GuardarNuevo", "Home", FormMethod.Post))
                {

                    <div class="row show-grid">
                        <div class="col-xs-6 col-lg-1 col">
                            Nombre:
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(p => p.Nombre, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row show-grid">
                        <div class="col-xs-6  col-lg-1">
                            Descripcion:
                        </div>
                        <div class="col-xs-6">
                            @Html.TextAreaFor(p => p.Descripcion, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row show-grid">
                        <div class="col-xs-6  col-lg-1">
                            Precio:
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(p => p.Precio, new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="row show-grid">
                        <div class="col-xs-12 col-sm-12">
                            <input type="submit" class="btn btn-default" value="Guardar" onclick="validar();" />
                            <script type="text/javascript">

                                function validar()
                                {
                                    //var nombre = $("input[name=Nombre]");
                                    //if($(nombre).val)(=)
                                    var nom = document.getElementsByName("Nombre")[0];
                                    if (nom && nom.value == "")
                                    {
                                        nom.parentElement.className = nom.parentElement.className + " has-error";
                                        //nom.className = "form-control has-error";
                                        return false;
                                    }

                                    return true;

                                }

                            </script>
                        </div>
                    </div>
                }

            </div>
        </div>
        <!-- /.panel-body -->

    </div>
</div>
<!-- /.row -->
